<!-- Static navbar -->
<nav class="navbar navbar-costum navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag "site.png",:width=>"40",:height=>"40",:class=>"logo" %>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/" style="font-weight:bold">Home <span class="sr-only">(current)</span></a></li>
        <li><%= link_to "Contact",contact_path,:style=>"font-weight:bold" %></li>
        <li><%= link_to "About",propos_path,:style=>"font-weight:bold" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !signed_in? %>
        <li>
          <%= link_to new_path,:style=>"font-weight:bold" do %>
          Sign up
          <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </li>
        <li>
          <%= link_to new_session_path,:style=>"font-weight:bold" do %>
          Sign in
          <span class="glyphicon glyphicon-user"></span>
          <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to user_path(@user),:style=>"font-weight:bold" do %>
          Profile
          <span class="glyphicon glyphicon-home"></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#",:style=>"font-weight:bold" do %>
          Help
          <span class="glyphicon glyphicon-question-sign"></span>
          <% end %>
        </li>
        <li>
          <%= link_to signout_path,:id=>"signout",:style=>"font-weight:bold;color:white;text-decoration:none;",:method => :delete do %>
          Sign out
          <span class="glyphicon glyphicon-off"></span>
        </li>

        <% end %>

        <% end %>

      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
